---
import Button from './Button.astro';

export interface Props {
	currentCategory?: string;
}

const { currentCategory } = Astro.props;

const categories = [
	{ slug: 'mystic', name: 'MYSTIC' },
	{ slug: 'true crime', name: 'TRUE CRIME' },
	{ slug: 'paranormal', name: 'PARANORMAL' },
	{ slug: 'creature', name: 'CREATURE' },
	{ slug: 'creepypasta', name: 'CREEPYPASTA' },
	{ slug: 'true story', name: 'TRUE STORY' },
	{ slug: 'news', name: 'NEWS' },
	{ slug: 'filmreview', name: 'FILMREVIEW' },
	{ slug: 'halloween', name: 'HALLOWEEN' },
    { slug: 'spookylivereport', name: 'SPOOKY LIVE REPORT' },
	 { slug: 'projecteverest', name: 'PROJECT EVEREST' },
	 { slug: 'podfluencer-folgen', name: 'PODFLUENCER‑FOLGEN' },
];
---

<!-- Category Filter Section -->
<div class="max-w-4xl mx-auto">
	<div class="flex flex-wrap justify-center gap-4">
		<Button 
			href="/alle-folgen"
			size="sm"
			active={currentCategory === undefined || currentCategory === 'alle'}
		>
			ALLE
		</Button>
		{categories.map((category) => (
			<Button 
				href={`/kategorie/${category.slug}`}
				size="sm"
				active={currentCategory === category.slug}
			>
				{category.name}
			</Button>
		))}
	</div>
</div>
